/* FONT FAMILY */
/* body{
    font-family: cursive;
} */

/* body{
    font-family: Georgia, 'Times New Roman', Times, serif;
} */
/* 
h1,
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */

/* 
.credits {
    font-family: "Courier New", Courier,
    monospace;} */

    /* FONT SIZE */
    /* pixels */

    /* p{
        font-size: 166px;
    } */

    /* percentages */
/* 
    p{
        font-size: 500%;
    } */


    /* DEFAULT VALUES */
/* 
    p{
        font-size: xx-small;
    }
 */

 /* EM */

 /* p{
    font-size: 2em;
 } */

 /* FONT FACE */

/* @font-face {
    font-family: test;
    src: url(./assest/Agbalumo\ \(1\)/);
}

p{
    font-family: test;
} */


/* FONT WEIGHT */

/* p{
    font-weight: bolder;
} */

/* FONT STYLE */
/* 
h1{
    font-style: italic;
} */


/* using id selector */

/* #italic{
    font-style: italic;
} */


/* TEXT TRANSFORMATION */
 /* h1{
    text-transform: uppercase;
 } */

 /* h1{
    text-transform: capitalize;
 } */

 /* TEXT DECORATION */
/* 
 #underline{
    text-decoration:underline  ;
 }


 #overline{
    text-decoration: overline;
 }

 #line-through{
    text-decoration: line-through;
 } */


 /* LINE HEIGHT/LEADING */

 /* p{
    line-height: 50px;
 } */

 /* LETTER AND WORD SPACING */
 /* word-spacing */

 /* h1{
    word-spacing: 20px;
 } */

 /* letter spacing */

 /* h1{
    letter-spacing: 10px;
 } */

 /* TEXT ALIGN */
 /* h1{
    text-align: center;
 }

p{
    text-align: center;
} */
/* 
p{
    text-align: justify;
} */


/* vertical alinment */

/* img{
    vertical-align: text-top;
} */


/* TEXT INDENT */

/* h1{
    text-indent: 60px;
    text-align: justify;
} */

/* TEXT SHADOW */

/* h1{
    background-color: #eeee;
    color: #666;
    text-shadow: 1px 1px 0px #000;
} */

/* FIRST LETTER OR FIRST LINE */

/* p::first-letter{
    color: red;
}
 p::first-line{
    color: blue;
 } */

 /* styling links */

 /* a:link{
    color: green;
 }

 a:visited{
    color: red;
 } */

 /* RESPONDING TO USER */

 /* hover */
 input.btn:hover{
    background-color: red;
 }
